@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

*
{
    margin: 0;
    font-family: Kanit;
}

a
{
    text-decoration: none;
    color: inherit;
}

html {
    height: 100%;
    margin:0;
    padding:0;
    background-color: black;
}

body{
    height: 100%;
}

.sticky-header{
    height: 50px;
    background-color: #21bff3;
    position: sticky;
    top: 0;
    width: 100vw;
    display: grid;
    place-items: center;
    grid-template-columns: 25% 50% 25%;
    z-index: 100;
}
.ham-icon{
    width: 40px;
    height: 40px;
    display: grid;
    place-items: center;
}
.line{
    width: 80%;
    height: 3px;
    background-color: black;
}
.search{
    display: grid;
    place-items: center;
}
.box{
    border-radius: 10px;
    width: 30vw;
}
.login-button{
    background-color: #61d8ff;
    width: 100px;
    display: grid;
    place-items: center;
    border-style: solid;
    border-width: 3px;
    border-radius: 5px;
}
.donate-button{
    background-color: #61d8ff;
    width: 100px;
    display: grid;
    place-items: center;
    border-style: solid;
    border-width: 3px;
    border-radius: 5px;
}
.login-button a{
    width: 100%;
    display: grid;
    place-items: center;
}

.header{
    height: 150px;
    width: 100vw;
    display: grid;
    place-items: center;
}
.logo-and-ads{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.ad-a{
    width: 200px;
    height: 100px;
}

.desktop-logo{
    height: 175px;
}
.adspace{
    background-color: #21bff3;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: grid;
    place-items: center;
}
.sport-options {
    width: 90vw;
    position: relative;
    border-color: white;
    display: grid;
    place-items: center;
    padding: 10px;
    border-top-style: solid;
    border-bottom-style: solid;
}
.navigation {
    color: white;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    width: 50vw;
    font-size: 1.2em;
}
.navigation li{
    margin-right: 20px;
}
.articles{
    display: grid;
    place-items: center;
    position: relative;
    top: 150px;
    width: 100vw;
}
.headline-content{
    width: 90vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 50px;
}
.flex-col-headline{
    flex: 0.60;
    color: white;
}
.flex-col-mostliked{
    flex: 0.30;
    color: white;
}
.headline-article{
    color: black;
    background-color: white;
    border-radius: 20px;
    display: grid;
    place-items: center;
}
.main-headline{
    font-size: 1.7em;
    padding: 15px 0px 15px 0px;
    text-align: center;
}
.main-description{
    padding: 20px 0px 20px 0px;
    text-align: center;
    font-size: 1.2em;
}
.headline-image{
    width: 50%;
    background-color: black;
    border-radius: 10px;
    padding: 20px 0px 20px 0px;
}
.main-team{
    font-size: 1.5em;
    padding: 20px 0px 0px 0px;
    border-bottom-style: solid;
}
.most-liked{
    background-color: white;
    color: black;
    border-radius: 20px;
}
.most-liked ul{
    list-style-type: none;
}
.most-liked ul li{
    padding: 20px 0px 20px 0px;
    font-size: 1.2em;
}
.most-liked-title{
    font-size: 2em;
    display: grid;
    place-items: center;
    padding: 20px 0px 20px 0px;
}

.subteam-content{
    width: 90vw;
    display: grid;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    border-color: white;
}
.subteam-title{
    color: white;
    font-size: 1.5em;
    border-style: solid none solid none;
    margin-bottom: 30px;
    padding: 20px 0px 20px 0px;
}
.subteam-content-flex{
    width: 90vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.flex-col-subteam{
    width: 30%;
    background-color: white;
    border-radius: 20px;
    display: grid;
    place-items: center;
}
.subteam-headline{
    font-size: 1.5em;
    padding: 20px 0px 20px 0px;
}
.subteam-image{
    width: 70%;
}
.subteam-description{
    padding: 20px 0px 20px 0px;
    font-size: 1.3em;
}
.subteam-date{
    padding: 20px 0px 0px 0px;
}

.page-container {
    position: relative;
    min-height: 100vh;
  }
  
.content-wrap {
    padding-bottom: 200px;    /* Footer height */
  }
  
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    background-color: white;            /* Footer height */
  }
