@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

*
{
    margin: 0;
    font-family: Kanit;
}

a
{
    text-decoration: none;
    color: inherit;
}

html {
    height: 100%;
    margin:0;
    padding:0;
    background-color: black;
}

body{
    height: 100%;
}

.sticky-header{
    height: 50px;
    background-color: #21bff3;
    position: sticky;
    top: 0;
    width: 100vw;
    display: grid;
    place-items: center;
    grid-template-columns: 25% 25% 25% 25%;
}
.ham-icon{
    width: 40px;
    height: 40px;
    display: grid;
    place-items: center;
}
.line{
    width: 80%;
    height: 3px;
    background-color: black;
}
.login-button{
    background-color: #61d8ff;
    width: 100px;
    display: grid;
    place-items: center;
    border-style: solid;
    border-width: 3px;
    border-radius: 5px;
}
.login-button a{
    width: 100%;
    display: grid;
    place-items: center;
}

.header{
    height: 150px;
    width: 100vw;
    display: grid;
    place-items: center;
}
.logo-and-ads{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.ad-a{
    width: 200px;
    height: 100px;
}

.desktop-logo{
    height: 175px;
}
.adspace{
    background-color: #21bff3;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: grid;
    place-items: center;
}
.sport-options {
    width: 90vw;
    position: relative;
    border-color: white;
    display: grid;
    place-items: center;
    padding: 10px;
    border-top-style: solid;
    border-bottom-style: solid;
}
.navigation {
    color: white;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    width: 50vw;
}

