<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The SoFlo Trove</title>
    <link rel="stylesheet" type="text/css" href='../static/main.css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../static/main.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
</head>

<body>
    <div class='page-container'>

        <div class='content-wrap'>

            <div class='sticky-header'> 

                <a href="#" id='dropdown'>
                    <div class='ham-icon'>
                        <div class='line'></div>
                        <div class='line'></div>
                        <div class='line'></div>

                    </div>
                </a>

                <div class='search'>
                    <input class='box' type="text" placeholder="Search...">
                </div>

                <div class='login-button'>
                    <a href="#"> <p> LOGIN </p> </a>
                </div>

            </div>

            <header class='header'>

                <div class='logo-and-ads'>

                    <a class='ad-a' href="#"> 
                        <div class='adspace'>
                            <p> PROMOTE BUSINESS/SELF </p>
                        </div>
                    </a>
                    <a class="logo-a" href="#"> 
                        <img class='desktop-logo' src='../static/images/SFTLogo.png' alt='SoFloTrove Logo'> 
                    </a>
                    <a class='ad-a' href="#"> 
                        <div class='adspace'>
                            <p> CHARITY OF THE MONTH </p> 
                        </div>
                    </a>

                </div>

                <div class='sport-options'>

                    <ul class='navigation'>
                        <li class='dolphins-nav'> <a href ="#"> DOLPHINS </a> </li> 
                        <li class='heat-nav'> <a href ="#"> HEAT </a> </li>
                        <li class='canes-nav'> <a href ="#"> 'CANES </a> </li>
                        <li class='inter-nav'> <a href ="#"> INTER MIAMI </a> </li>
                        <li class='general-nav'> <a href ="#"> GENERAL </a> </li>
                        <li class='interactive-nav'> <a href ="#"> INTERACTIVE </a> </li>
                    </ul>

                </div>

            </header>

            <div class='articles'>

                <div class='headline-content'> 
                    
                    <div class='flex-col-headline'>

                        <a href="#">

                            <div class='headline-article'>

                                <p class='main-team'> HEAT </p>

                                <p class='main-headline'> GAME RECAP: DUNCAN ROBINSON SCORES 26, LOSES HIS ARM IN ACCIDENT </p>

                                <img class='headline-image' src="../static/images/SFTLogo.png" alt="headline-image">

                                <p class='main-description'> 

                                    This is a description for the article.
                                    I have to test what happens when this description goes out of control. 
                                    Adding more lines to see if anything goes out of control 

                                </p>

                                <p class='team-author'>
                                    By: Athitheya Gobinathan
                                </p>

                                <p class='team-date'>
                                    1/14/21
                                </p>

                            </div>

                        </a>


                    </div>

                    <div class='flex-col-mostliked'>

                        <div class='most-liked'>

                            <p class='most-liked-title'> MOST LIKED </p>

                            <ul>
                                <li> <a href="#"> 1. HEADLINE OF ARTICLE 1 </a> </li>
                                <li> <a href="#"> 2. HEADLINE OF ARTICLE 2 </a> </li>
                                <li> <a href="#"> 3. HEADLINE OF ARTICLE 3 </a> </li>
                                <li> <a href="#"> 4. HEADLINE OF ARTICLE 4 </a> </li>
                                <li> <a href="#"> 5. HEADLINE OF ARTICLE 5 </a> </li>

                            </ul>
                        </div>

                    </div>

                </div>

                <div class='subteam-content'>

                    <div class="subteam-title"> Latest from the Miami Heat ... </div>

                    <div class="subteam-content-flex">

                        <div class="flex-col-subteam">

                            <p class='subteam-headline'>
                                HEAT HEADLINE 1
                            </p>

                            <img class='subteam-image' src="../static/images/SFTLogo.png">

                            <p class='subteam-description'>
                                Description
                            </p>

                            <p class='subteam-date'>
                                1/14/21
                            </p>

                        </div>

                        <div class="flex-col-subteam">

                            <p class='subteam-headline'>
                                HEAT HEADLINE 1
                            </p>

                            <img class='subteam-image' src="../static/images/SFTLogo.png">

                            <p class='subteam-description'>
                                Description
                            </p>

                            <p class='subteam-date'>
                                By: Athitheya Gobinathan, 1/14/21
                            </p>

                        </div>

                        <div class="flex-col-subteam">

                            <p class='subteam-headline'>
                                HEAT HEADLINE 1
                            </p>

                            <img class='subteam-image' src="../static/images/SFTLogo.png">

                            <p class='subteam-description'>
                                Description
                            </p>

                            <p class='subteam-date'>
                                1/14/21
                            </p>

                        </div>


                    </div>


                </div>
                
                <div class='subteam-content'>

                    <div class="subteam-title"> Latest from the Miami Dolphins ... </div>

                    <div class="subteam-content-flex">

                        <div class="flex-col-subteam">

                            <p class='subteam-headline'>
                                HEAT HEADLINE 1
                            </p>

                            <img class='subteam-image' src="../static/images/SFTLogo.png">

                            <p class='subteam-description'>
                                Description
                            </p>

                            <p class='subteam-date'>
                                1/14/21
                            </p>

                        </div>

                        <div class="flex-col-subteam">

                            <p class='subteam-headline'>
                                HEAT HEADLINE 1
                            </p>

                            <img class='subteam-image' src="../static/images/SFTLogo.png">

                            <p class='subteam-description'>
                                Description
                            </p>

                            <p class='subteam-date'>
                                By: Athitheya Gobinathan, 1/14/21
                            </p>

                        </div>

                        <div class="flex-col-subteam">

                            <p class='subteam-headline'>
                                HEAT HEADLINE 1
                            </p>

                            <img class='subteam-image' src="../static/images/SFTLogo.png">

                            <p class='subteam-description'>
                                Description
                            </p>

                            <p class='subteam-date'>
                                1/14/21
                            </p>

                        </div>


                    </div>


                </div>

                <div class='subteam-content'>

                    <div class="subteam-title"> Latest from the Canes ... </div>

                    <div class="subteam-content-flex">

                        <div class="flex-col-subteam">

                            <p class='subteam-headline'>
                                HEAT HEADLINE 1
                            </p>

                            <img class='subteam-image' src="../static/images/SFTLogo.png">

                            <p class='subteam-description'>
                                Description
                            </p>

                            <p class='subteam-date'>
                                1/14/21
                            </p>

                        </div>

                        <div class="flex-col-subteam">

                            <p class='subteam-headline'>
                                HEAT HEADLINE 1
                            </p>

                            <img class='subteam-image' src="../static/images/SFTLogo.png">

                            <p class='subteam-description'>
                                Description
                            </p>

                            <p class='subteam-date'>
                                By: Athitheya Gobinathan, 1/14/21
                            </p>

                        </div>

                        <div class="flex-col-subteam">

                            <p class='subteam-headline'>
                                HEAT HEADLINE 1
                            </p>

                            <img class='subteam-image' src="../static/images/SFTLogo.png">

                            <p class='subteam-description'>
                                Description
                            </p>

                            <p class='subteam-date'>
                                1/14/21
                            </p>

                        </div>


                    </div>


                </div>

                <div class='subteam-content'>

                    <div class="subteam-title"> Latest from the Inter Miami ... </div>

                    <div class="subteam-content-flex">

                        <div class="flex-col-subteam">

                            <p class='subteam-headline'>
                                HEAT HEADLINE 1
                            </p>

                            <img class='subteam-image' src="../static/images/SFTLogo.png">

                            <p class='subteam-description'>
                                Description
                            </p>

                            <p class='subteam-date'>
                                1/14/21
                            </p>

                        </div>

                        <div class="flex-col-subteam">

                            <p class='subteam-headline'>
                                HEAT HEADLINE 1
                            </p>

                            <img class='subteam-image' src="../static/images/SFTLogo.png">

                            <p class='subteam-description'>
                                Description
                            </p>

                            <p class='subteam-date'>
                                By: Athitheya Gobinathan, 1/14/21
                            </p>

                        </div>

                        <div class="flex-col-subteam">

                            <p class='subteam-headline'>
                                HEAT HEADLINE 1
                            </p>

                            <img class='subteam-image' src="../static/images/SFTLogo.png">

                            <p class='subteam-description'>
                                Description
                            </p>

                            <p class='subteam-date'>
                                1/14/21
                            </p>

                        </div>


                    </div>


                </div>


            </div>
            
        </div>

        <footer class='footer'>
            <p> COPYRIGHT THE TROVE (C) ALL RIGHTS RESERVED </p>
        </footer>

    </div>
</body>
</html>