<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The SoFlo Trove</title>
    <link rel="stylesheet" type="text/css" href='../static/main.css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../static/main.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
</head>
<body>
    <div class='page-container'>

        <div class='content-wrap'>

            <div class='sticky-header'> 

                <a href="#" id='dropdown'>
                    <div class='ham-icon'>
                        <div class='line'></div>
                        <div class='line'></div>
                        <div class='line'></div>

                    </div>
                </a>

                <div class='search'>

                </div>

                <div class=''>

                </div>

                <div class='login-button'>
                    <a href="#"> <p> LOGIN </p> </a>
                </div>

            </div>

            <header class='header'>

                <div class='logo-and-ads'>

                    <a class='ad-a' href="#"> 
                        <div class='adspace'>
                            <p> YOUR BUSINESS HERE! </p>
                        </div>
                    </a>
                    <a class="logo-a" href="#"> 
                        <img class='desktop-logo' src='../static/images/SFTLogo.png' alt='SoFloTrove Logo'> 
                    </a>
                    <a class='ad-a' href="#"> 
                        <div class='adspace'>
                            <p> YOUR BUSINESS HERE! </p> 
                        </div>
                    </a>

                </div>

                <div class='sport-options'>

                    <ul class='navigation'>
                        <li> <a href ="#"> DOLPHINS </a> </li> 
                        <li> <a href ="#"> HEAT </a> </li>
                        <li> <a href ="#"> INTER MIAMI </a> </li>
                        <li> <a href ="#"> GENERAL </a> </li>
                        <li> <a href ="#"> INTERACTIVE </a> </li>
                    </ul>

                </div>

            </header>

            <div class='articles'>

                <div class='headline-article'>

                </div>
                
                <div class='most-liked'>

                </div>

                
            </div>
            
        </div>

        <footer class='footer'></footer>

    </div>
</body>
</html>