<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The SoFlo Trove</title>
    <link rel="stylesheet" type="text/css" href='../static/main.css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../static/main.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
</head>
<body>
    <div class='page-container'>

        <div class='content-wrap'>

            <div class='sticky-header'> 

            </div>

            <header class='header'>

                <div class='logo-and-ads'>

                    <a href="#"> 
                        <div class='adspace'>
                            <p> YOUR BUSINESS HERE! </p>
                        </div>
                    </a>
                    <a href=""> 
                        <img class='desktop-logo' src='../static/images/SFTLogo.png' alt='SoFloTrove Logo'> 
                    </a>
                    <a href="#"> 
                        <div class='adspace'>
                            <p> YOUR BUSINESS HERE! </p> 
                        </div>
                    </a>

                </div>

                <div class='sport-options'>

                    <ul class='navigation'>
                        <li> FOOTBALL </li> 
                        <li> BASKETBALL </li>
                        <li> SOCCER </li>
                    </ul>

                </div>

            </header>
            
        </div>

        <footer class='footer'></footer>

    </div>
</body>
</html>